In [6]:
import requests as r
import pandas as pd
import json

In [7]:
key = "tuR59DqzLKEt2G39Q1bLERXRxM1flKOE"
api = "https://simfin.com/api/v2/"
params = {"api-key": key,
          "ticker": "GOOG",
          "statement": "cf",
          "fyear": "2022",
          "period": "h1"}

endpoint = "companies/statements"

result = r.get(api + endpoint, params)

result.text

'[{"found":true,"columns":["SimFinId","Ticker","Fiscal Period","Fiscal Year","Report Date","Publish Date","Restated Date","Source","TTM","Value Check","Net Income\\/Starting Line","Net Income","Net Income from Discontinued Operations","Other Adjustments","Depreciation & Amortization","Non-Cash Items","Stock-Based Compensation","Deferred Income Taxes","Other Non-Cash Adjustments","Change in Working Capital","Change in Accounts Receivable","Change in Inventories","Change in Accounts Payable","Change in Other","Net Cash from Discontinued Operations (Operating)","Net Cash from Operating Activities","Change in Fixed Assets & Intangibles","Disposition of Fixed Assets & Intangibles","Disposition of Fixed Assets","Disposition of Intangible Assets","Acquisition of Fixed Assets & Intangibles","Purchase of Fixed Assets","Acquisition of Intangible Assets","Other Change in Fixed Assets & Intangibles","Net Change in Long Term Investment","Decrease in Long Term Investment","Increase in Long Term Investment","Net Cash from Acquisitions & Divestitures","Net Cash from Divestitures","Cash for Acquisition of Subsidiaries","Cash for Joint Ventures","Net Cash from Other Acquisitions","Other Investing Activities","Net Cash from Discontinued Operations (Investing)","Net Cash from Investing Activities","Dividends Paid","Cash from (Repayment of) Debt","Cash from (Repayment of) Short Term Debt, Net","Cash from (Repayment of) Long Term Debt, Net","Repayments of Long Term Debt","Cash from Long Term Debt","Cash from (Repurchase of) Equity","Increase in Capital Stock","Decrease in Capital Stock","Other Financing Activities","Net Cash from Discontinued Operations (Financing)","Net Cash from Financing Activities","Net Cash Before Disc. Operations and FX","Change in Cash from Disc. Operations and Other","Net Cash Before FX","Effect of Foreign Exchange Rates","Net Change in Cash"],"data":[[18,"GOOG","H1",2022,"2022-06-30","2022-07-27","2022-07-27","https:\\/\\/www.sec.gov\\/Archives\\/edgar\\/data\\/1652044\\/000165204422000071\\/0001652044-22-000071-index.htm",false,true,32438000000,null,null,null,7289000000,8121000000,9286000000,-4237000000,3072000000,-3320000000,2395000000,null,-1172000000,-4543000000,null,44528000000,-16614000000,null,null,null,-16614000000,-16614000000,null,null,4036000000,55374000000,-51338000000,-1236000000,null,null,null,-1236000000,576000000,null,-13238000000,null,-354000000,null,null,null,null,-28497000000,null,-28497000000,-5180000000,null,-34031000000,-2741000000,null,-2741000000,-268000000,-3009000000]],"currency":"USD"}]'

In [62]:
js = json.loads(result.text)
df = pd.DataFrame(js[0]["data"], columns=js[0]["columns"])
# df["Report Date"][0]
df
# df.to_csv("data/simfin_cf.csv")

,SimFinId,Ticker,Fiscal Period,Fiscal Year,Report Date,Publish Date,Restated Date,Source,TTM,Value Check,...,Increase in Capital Stock,Decrease in Capital Stock,Other Financing Activities,Net Cash from Discontinued Operations (Financing),Net Cash from Financing Activities,Net Cash Before Disc. Operations and FX,Change in Cash from Disc. Operations and Other,Net Cash Before FX,Effect of Foreign Exchange Rates,Net Change in Cash
0,18,GOOG,H1,2022,2022-06-30,2022-07-27,2022-07-27,https://www.sec.gov/Archives/edgar/data/165204...,False,True,...,None,-28497000000,-5180000000,None,-34031000000,-2741000000,None,-2741000000,-268000000,-3009000000

In [9]:
p_params = {"api-key":key,
            "ticker": "ACU"}

file_content = r.get("https://simfin.com/api/v2/companies/prices", p_params).text
jss = json.loads(file_content)
pd.DataFrame(jss[0]["data"], columns=jss[0]["columns"]).transpose()

,0,1,2,3,4,5,6,7,8,9,...,5814,5815,5816,5817,5818,5819,5820,5821,5822,5823
SimFinId,998436,998436,998436,998436,998436,998436,998436,998436,998436,998436,...,998436,998436,998436,998436,998436,998436,998436,998436,998436,998436
Ticker,ACU,ACU,ACU,ACU,ACU,ACU,ACU,ACU,ACU,ACU,...,ACU,ACU,ACU,ACU,ACU,ACU,ACU,ACU,ACU,ACU
Date,2000-01-03,2000-01-04,2000-01-05,2000-01-06,2000-01-07,2000-01-10,2000-01-11,2000-01-12,2000-01-13,2000-01-14,...,2023-02-10,2023-02-13,2023-02-14,2023-02-15,2023-02-16,2023-02-17,2023-02-21,2023-02-22,2023-02-23,2023-02-24
Open,1.12,1.06,1.0,1.0,0.94,1.0,1.06,1.12,1.06,1.19,...,25.0,24.29,24.65,24.42,24.34,24.23,24.56,24.32,24.86,24.59
High,1.12,1.06,1.0,1.0,1.0,1.0,1.06,1.19,1.06,1.19,...,25.2,25.29,24.65,24.42,24.63,24.59,24.56,24.43,25.71,24.81
Low,1.12,1.06,1.0,1.0,0.94,0.94,1.06,1.12,1.0,1.19,...,24.33,24.01,24.09,24.01,24.01,24.01,24.04,24.26,24.45,24.07
Close,1.12,1.06,1.0,1.0,1.0,0.94,1.06,1.19,1.06,1.19,...,24.33,24.01,24.2,24.01,24.31,24.58,24.11,24.26,24.86,24.07
Adj. Close,0.79,0.75,0.7,0.7,0.7,0.66,0.75,0.84,0.75,0.84,...,24.33,24.01,24.2,24.01,24.31,24.58,24.11,24.26,24.86,24.07
Volume,0,6700,2300,0,2500,22000,900,10000,8600,1200,...,3881,23905,22669,2377,5209,5949,1356,1244,5300,7522
Dividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Common Shares Outstanding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3530000.0,3530000.0,3530000.0,3530000.0,3530000.0,3530000.0,3530000.0,3530000.0,3530000.0,3530000.0

In [45]:
with open('example_pricing.json') as user_file:
    file_contents = user_file.read()
jss = json.loads(file_contents)
df = pd.DataFrame(jss[0]["data"], columns=jss[0]["columns"])
date = "2018-01-02"
df = df.loc[df["Date"] == date]
df["Close"] * df["Common Shares Outstanding"]

0    1.282981e+10
dtype: float64

In [19]:
from datetime import datetime
out = pd.date_range('2018-01-01', '2021-01-01', freq = 'Q').to_period('Q')
for i in out:
    print(str(i)[:4])
    print(str(i)[4:].lower())

2018
q1
2018
q2
2018
q3
2018
q4
2019
q1
2019
q2
2019
q3
2019
q4
2020
q1
2020
q2
2020
q3
2020
q4